* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
}

.time-form {
  width: 400px;
  height: 400px;
  background-color: rgba(12, 9, 9, 0.663);
  color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline-style: groove;
  outline-color: aqua;
  font-size: 20px;
}

.start-btn {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(30, 21, 4);
  color: white;
  font-size: 20px;
  outline-style: groove;
  outline-color: aqua;
}
